@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}


/** Login Page **/

#login {
  min-height: 100vh;
  width: 100vw;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 40px 0;
}

.login__row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.auth__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 100%;
  max-width: 400px;
  position: relative;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__content {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.auth__separator {
  width: 100%;
  height: 1px;
  margin: 24px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__separator--text {
  width: 58px;
  padding: 16px;
  margin: 16px;
  background-color: white;
}

.login__wrapper--full {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth__main--form {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.login__input {
  position: relative;
  height: 50px;
  padding: 0 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 2px solid lightgray;
} 

.auth__error-message {
  color: #c62828;
  font-size: 14px;
  margin: -4px 0 12px;
  text-align: left;
  width: 100%;
}

.guest__btn--wrapper,
.google__btn--wrapper,
.login__btn--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login__btn--wrapper {
  height: 50px;
}

.guest__btn--wrapper {
  background: #3a579d;
  display: flex;
  justify-content: center;
  position: relative;
}

.guest__btn--wrapper:hover {
background-color: #25396b !important;
}

.person {
  position: absolute;
  left: 2px;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.google__btn--wrapper {
  background-color: #4285f4;
  display: flex;
  justify-content: center;
  position: relative;
}

.google__btn--wrapper:hover {
  background-color: #3367d6!important;
}

.google__img {
  position: absolute;
  left: 2px;
  background-color: white;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 4px;
}

.btn__txt {
  color: white;
}

.x-icon {
  width: 36px;
  height: 36px;
  display: block;
}

.auth__close--btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.auth__forgot--password {
  position: relative;
  margin: 24px 0;
  color: blue;
  cursor: not-allowed;
}

.auth__switch--btn {
  width: 400px;
  height: 36px;
  bottom: 50;
  background-color: rgb(246, 243, 243);
  color: #116be9;
  /* cursor: not-allowed; */
}

.auth__switch--btn-2 {
  width: 400px;
  height: 36px;
  bottom: 50;
  margin-top: 24px;
  background-color: rgb(246, 243, 243);
  color: #116be9;
}

.sidebar__overlay--hidden {
  opacity: 0;
  pointer-events: none;
}

.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 70, 73, 0.5);
  transition: opacity .4s ease-in;
  z-index: 10;
  display: none;
}

/** Login Modal **/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}

/** FOR YOU **/

/* SEARCH */ 

.searchbar__wrapper {
  /* position: sticky; */
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  /* max-width: 1070; */
  /* margin-right: 24px; */
  z-index: 10;
  background-color: white;
  overflow: visible;
}

.search__background {
  width: 100%;
  max-width: 1320px;
  display: flex;
  /* justify-content: end; */
  /* max-width: none; */
  height: 80px;
  background-color: white;
  border-bottom: 1px solid rgb(224, 224, 224);
  box-sizing: border-box;
  /* margin-left: -140px; */
  overflow: visible;
}

.search__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* right: 160px; */
  width: 100%;
  max-width: 1142px;
  margin: 20px;
  /* margin-right: 100px; */
  overflow: visible;
}

.search__content {
  width: 100%;
  max-width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: visible;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  z-index: 20;
  overflow: visible;
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  height: 40px;
  padding: 0 6px;
  background-color: rgb(245, 242, 242);
  border: 2px solid lightgray;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search__icon {
  cursor: pointer;

}

.search__input--wrapper {
  width: 100%;
  max-width: 340px;
  height: 40px;
  display: flex;
}

.search__input {
  height: 40px;
  width: 340px;
  background-color: rgb(245, 242, 242);
  padding-left: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid lightgray;
}

/**/
.search__results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 8px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  width: 100%;
}

.search__result--item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search__result--item:hover {
  background-color: #f5f5f5;
}

.search__result--image {
  width: 50px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.search__result--info {
  flex: 1;
}

.search__result--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 4px;
}

.search__result--author {
  font-size: 14px;
  color: #6b7280;
}

.search__result--empty {
  padding: 12px;
  color: #6b7280;
  font-size: 14px;
}

.search__result--item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search__result--item:hover {
  background-color: #f5f5f5;
}

.search__result--image {
  width: 50px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.search__result--info {
  flex: 1;
}

.search__result--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 4px;
}

.search__result--author {
  font-size: 14px;
  color: #6b7280;
}

.search__input--wrapper {
  position: relative;
}
/**/


/* SIDEBAR */
.sidebar__closed {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 200px;
  min-width: 200px;
  flex: 0 0 200px;
  background-color: #f7faf9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid darkgreen; */
  transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
  overflow-x: hidden;
}

.sidebar__logo {
  padding: 20px;
  height: 80px;
  background-color: #f7faf9;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: #f7faf9;
  /* border: 1px solid red; */
  overflow-x: hidden;
}

.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 200px;
  height: 56px;
  text-align: center;
  margin-bottom: 8px;
}

.sidebar__link--wrapper:hover { /**/
  background-color: #f1f0f0;
  cursor: pointer;
}

.sidebar__link--not-allowed:hover {
  cursor: not-allowed;
  background-color: transparent;
}

.sidebar__link--line {
  height: 100%;
  width: 4px;
  margin: 0 16px 0 0;
}
.sidebar__link--line-active--tab {
  height: 100%;
  background-color: #2bd97c;
  width: 4px;
  margin: 0 16px 0 0;
}

.sidebar__link--text {
  padding: 8px;
}
.sidebar__top {
  width: 200px;
  margin-top: 16px;
}
.sidebar__bottom {
  width: 200px;
  margin-bottom: 16px;
}

.sidebar__icon--wrapper svg {
  position: relative;
  top: 1.5px;
  font-size: 24px;
}

.sidebar__toggle--btn {
  font-size: 32px;
  margin: 24px;
  display: none;
  cursor: pointer;
}

/* FOR YOU PAGE*/
#for-you {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  overflow: visible;
}

.for-you__main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.for-you__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.for-you__container {
  position: relative;
  width: 100%;
  max-width: 1070px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.for-you__row {
 max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.for-you__title {
  width: 100%;
  max-width: 1022px;
  height: 27px;
  font-size: 22px;
  font-weight: bold;
  color: #032b41;
  margin-bottom: 16px;
}

.for-you__sub-title {
  width: 100%;
  max-width: 1022px;
  height: 20px;
  margin-bottom: 16px;
}

.for-you__wrapper-skeleton-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selected__book--img {
  height: 140px;
  width: 140px;
  min-width: 140px;
}

.selected__book--line {
  width: 01px;
  height: 150px;
  background-color: #bac8ce;
}

.selected__book {
  display: flex;
  height: 100%;
  max-height: 190px;
  justify-content: space-between;
  width: calc(100% / 3) * 2;
  max-width: 680px;
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  gap: 24px;
}

.selected__book--sub-title {
  height: 100%;
  width: 40%;
  display: flex;
  text-align: start;
  letter-spacing: .5px;
  font-size: 16px;
}

.selected__book--content {
  display: flex;
  gap: 16px;
  width: 60%;
}

.selected__book--icon {
  color: white;
  background-color: black;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.selected__book--icon svg {
  font-size: 24px;
}

.selected__book-text {
  width: 100%;
  min-width: 500px;
}

.selected__book--author {
  font-size: 14px;
  color: #394547;
  margin-bottom: 16px;
}

.selected__book--title {
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}



.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected__book-skeleton-loading {
  width: 680px;
  border-radius: 6px;
  height: 190px;
  background-color: lightgray;
  margin-bottom: 20px;
}



.for-you__skeleton-container {
  display: flex;
  align-items: center;
}

.for-you__row-skeleton-loading {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

/* FOR YOU RECOMMENDED BOOKS*/

.for-you__recommended-books {
  width: 1070px;
  max-width: 100%;
  height: 418px;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  margin-bottom: 32px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.for-you__recommended-books::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.recommended__book--img {
  height: 100%;
  width:100%;
  max-height: 172px;
  min-width: 170px;
}

.for-you__recommended--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  gap: 16px;
  margin-bottom: 32px;
  /* border: 1px solid red; */
  border-radius: 4px;
  width: 240px;
}

.recommended__book--title {
  font-size: 16px;
  color: #032b41;
  margin-top: 8px;
  font-weight: 700;
}
.recommended__book--sub-title{
  font-size: 14px;
  color: #032b41;
  margin-top: 8px;
}

.recommended__book--author {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 300;
}

.recommended__book--details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}

.recommended__book--details {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  margin-top: 8px;
  gap: 4px;
  font-weight: 300;
}

.book__pill {
    background-color: #032b41;
    width: -moz-fit-content;
    width: fit-content;
    height: 18px;
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

/* FOR YOU SUGGESTED BOOKS  */
.for-you__suggested-books {
  width: 1070px;
  max-width: 100%;
  height: 418px;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.for-you__suggested-books::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  margin-bottom: 32px;
}

.suggested__book--img {
  height: 100%;
  width:100%;
  max-height: 172px;
  min-width: 170px;
}

.for-you__suggested--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  gap: 16px;
  margin-bottom: 32px;
  /* border: 1px solid red; */
  border-radius: 4px;
  width: 240px;
}

.suggested__book--title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-top: 8px;
}

.suggested__book--author {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
}

.suggested__book--sub-title {
  font-size: 14px;
  color: #032b41;
  margin-top: 8px;
}

.suggested__book--details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}

.suggested__book--details {
  display: flex;
  flex-direction: row-reverse;
  font-size: 14px;
  margin-top: 8px;
  gap: 4px;
  font-weight: 300;
}

.for-you__recommended--books-link:hover,
.for-you__suggested--books-link:hover {
  background-color: #f7faf9;
  transition: all .2s ease-in-out;
}

/*------------Settings-------------*/


#settings {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
}

.settings .sidebar__closed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.settings__main-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.settings__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* max-width: 1070px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px 0; */
}

.settings__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 200px);
  transition: all .3s;
  padding: 40px 0;
}

@media (min-width: 769px) {
  #settings .sidebar__closed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  #settings .settings__main-content {
    margin-left: 200px;
    height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  #settings .settings__container {
    width: 100%;
  }
}

.settings__row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.settings__title {
    text-align: left;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 16px;
    font-size: 32;
    color: #032b41;
    margin-bottom: 32px;
}

.settings__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 32px;
    padding-bottom: 24px;
   border-bottom: 1px solid #f0f0f0;
}

.settings__login--wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.settings__login--text {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}

.login__img,
.login__image {
  width: 460px;
  height: 318px;
}

.login__title {
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e7ea;
}

.settings__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 16px 0;
  gap: 8px;
 
}

.settings__content:last-child {
  border-bottom: none;
}

.settings__item-label {
  font-size: 18px;
  font-weight: 500;
  color: #032b41;
}

.settings__item-value {
  font-size: 16px;
  color: #6b757b;
}

.settings__login--btn {
  width: 180px;
}

.upgrade__btn {
  background-color: #2bd97c;
  border-radius: 4px;
  padding: 12px;
}

.settings__skeleton--page {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.settings__item-label-skeleton-loading {
  background-color: lightgray;
  height: 18px;
  width: 200px;
  border-radius: 4px;
}

.settings__item-value-skeleton-loading {
  background-color: lightgray;
  height: 18px;
  width: 80px;
  border-radius: 4px;
}

.settings__wrapper-skeleton-loading {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 800px;
  /* max-width: 1070px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 40px 0; */
}

.settings__container-skeleton-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 340px;
  width: calc(100% - 200px);
  transition: all .3s;
}

.upgrade__btn-skeleton-loading {
  background-color: lightgray;
  color: #032b41;
  width: 170px;
  height: 43px;
  border-radius: 4px;
  font-size: 16px;
  /* transition: background-color 200ms; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.settings__row-skeleton-loading {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px;
}

/*-------------------------*/

#book-info {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  overflow: visible;
}

.inner-book__main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 0;
  overflow: visible;
}

@media (min-width: 769px) {
  #book-info > .sidebar__closed {
    width: 200px;
    min-width: 200px;
    flex: 0 0 200px;
  }

  #book-info .inner-book__main-content {
    flex: 1 1 auto;
    min-width: 0;
  }
}

.inner__book--row {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 24px;
}

.inner__book--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.book__image {
  height: 300px;
  width: 300px;
}

.inner__book--inner-wrapper {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.inner-book__image--wrapper {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  justify-content: center;
}

#book-info .book__image--wrapper {
  width: 300px;
  height: 300px;
}

.inner__book {
  width: 100%;
}

.inner-book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
}

.inner-book__author {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__sub--title {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}

.inner-book__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.inner-book__description--wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.inner-book__description {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
}

.inner-book__icon {
  display: flex;
  font-size: 20px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.inner-book__read--btn-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.inner-book__read--btn {
  width: 144px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #032b41;
  color: white;
  border-radius: 4px;
  gap: 8px;
}

.inner-book__listen--text,
.inner-book__read--text {
  color: white;
  font-size: 16px;
}

.inner-book__read--icon, 
.inner-book__listen--icon {
  display: flex;
  /* width: 24px; */
  /* height: 24px; */
  font-size: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 12px;
}

.inner-book__bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color .2s;
}

.inner-book__bookmark--icon {
  display: flex;
  font-weight: bold;
  font-size: 26px;
}

.inner-book__tags--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.inner-book__tag {
   background-color: #f1f6f4;
   padding: 0 16px;
   height: 48px;
   display: flex;
   align-items: center;
   cursor: not-allowed;
   color: #032b41;
   font-weight: 500;
   border-radius: 4px;
   transition: background-color .2s;
}

.inner-book__secondary--title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book__book--description {
   color: #032b41;
   margin-bottom: 16px;
   line-height: 1.5;
   font-size: 16px;
}

.inner-book__author--description {
  font-size: 16px;
  color: #032b41;
  line-height: 1.5;
}

/* ------- Inner Book Skeleton Loading ---------- */

.book__skeleton-page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  /* max-width: 1070px; */
}

.for-you__skeleton-page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  /* max-width: 1070px; */
}

@media (min-width: 769px) {
  .for-you__skeleton-page > .sidebar__closed {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-width: 200px;
    flex: 0 0 200px;
    height: 100vh;
  }
}

@media (min-width: 769px) {
  .book__skeleton-page > .sidebar__closed {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    min-width: 200px;
    flex: 0 0 200px;
    height: 100vh;
  }
}

.book__skeleton-loading,
.for-you__book--skeleton-loading {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 769px) {
  .book__skeleton-loading,
  .for-you__book--skeleton-loading {
    margin-left: 200px;
    width: calc(100vw - 200px);
    height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
}

.book-container__skeleton-loading,
.for-you__book-container__skeleton-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  padding: 40px 120px;
}

.inner-book__row-skeleton-loading {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-book__title-skeleton-loading {
  width: 250px;
  border-radius: 6px;
  height: 30px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__author-skeleton-loading {         /**/
  width: 200px;
  border-radius: 6px;
  height: 24px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__sub-title-skeleton-loading {
  width: 350px;
  border-radius: 6px;
  height: 24px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__wrapper--skeleton-loading {
  width: 200px;
  border-radius: 6px;
  height: 80px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__btn-wrapper-skeleton-loading {
  width: 324px;
  border-radius: 6px;
  height: 40px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__bookmark-skeleton-loading {
  width: 200px;
  border-radius: 6px;
  height: 40px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__secondary--title-skeleton-loading {
  width: 160px;
  border-radius: 6px;
  height: 30px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__tags--wrapper-skeleton-loading {
  width: 250px;
  border-radius: 6px;
  height: 40px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.inner-book__book--description-skeleton-loading {
  width: 500px;
  border-radius: 6px;
  height: 400px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.book__img-skeleton-loading {
  background-color: lightgray;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  margin-left: 24px;
}

.recommended__books--container-skeleton-loading {
  width: 1070px;
  max-width: 100%;
  min-height: 418px;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  margin-bottom: 32px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recommended__books--container-skeleton-loading::-webkit-scrollbar {
  display: none;
}

.recommended__books--row-skeleton-loading {
  /* width: max-content; */
  min-width: 100%;
  display: flex;
  /* gap: 10px; */
}

.recommended__book--img-skeleton-loading {
  height: 250px;
  width: 180px;
  background-color: lightgray;
  margin-bottom: 16px;
  border-radius: 4px;
}

.skeleton__book {
  width: 240px;
  /* min-width: 240px; */
  padding: 32px 12px 12px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.skeleton__title {
  width: 140px;
  height: 16px;
  background-color: lightgray;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skeleton__author {
  width: 100px;
  height: 16px;
  background-color: lightgray;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skeleton__sub-title {
  width: 120px;
  height: 30px;
  background-color: lightgray;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skeleton__selected__book--duration-wrapper {
  width: 110px;
  height: 16px;
  background-color: lightgray;
  margin-bottom: 8px;
  border-radius: 4px;
}


/*----------------------------------------------*/

/* AUDIO PLAYER */
.audio__wrapper>div {
    width: 100%;
}

.audio__wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #042330;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.audio__track--wrapper {
  display: flex;
  gap: 12px;
  width: calc(100% / 3); /**/
}

.controls-wrapper {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #042330;
}

.middle-controls {
  height: 100%;
  width: 100%;
  max-width: 160px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.back10__btn svg,
.forward10__btn svg  {
  height: 24px;
  width: 24px;
  color: white;
  margin: 12px;
}

.start-stop__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  margin: 0 12px;
  overflow: visible;
}

.start-stop__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  flex-shrink: 0;
}

.start-stop__btn svg {
  display: block;
  border: none;
  color: #042330;
  background-color: transparent;
  width: 22px;
  height: 22px;
  padding: 0;
  flex-shrink: 0;
}

.progress__container {
  width: 100%;
}

.audio__track--image-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48px;
}

.audio__track--image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.audio__track--image-skeleton-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}

.audio__track--details-wrapper {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.progress-container {
  width: calc(100% / 3);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
}

.slider {
  width: 100%;
}

.duration-left,
.duration-right {
  color: white;
  font-size: 14px;
  white-space: nowrap;
  flex-shrink: 0;
}


/* Range input slider styling */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* Webkit browsers (Chrome, Safari, Edge) - slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3px;
}

/* Webkit browsers - slider track */
input[type="range"]::-webkit-slider-runnable-track  {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #2bd97c var(--range-progress, 0%), #6d787d var(--range-progress, 0%));
  border-radius: 5px;
}

/* Firefox - slider thumb */
input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: -3px;
}

/* Firefox - slider track */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #2bd97c var(--range-progress, 0%), #6d787d var(--range-progress, 0%));
  border-radius: 5px;
}

/*Audio book page*/

/* .audiobook__wrapper .sidebar__closed {
  height: 100%;
  max-height: 600px;
  overflow-x: auto;
} */

#audiobook {
  width: 100vw;
  display: flex;
  
}

#audiobook .sidebar__closed {
  height: 88vh;
}

#audiobook .sidebar__wrapper {
  overflow-y: auto;
  overscroll-behavior: contain;
}

#audiobook .searchbar__wrapper {
  position: sticky;
  z-index: 10;
}

.audiobook__main--content {
  width: 100%;
}

.audiobook__wrapper {
  width: 100%;
  height: 100%;
}


.audiobook__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.audiobook__row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.audiobook__summary {
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
}



.audiobook__summary--title {
  color: #032b41;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 28px;
  padding-bottom: 14px;
  line-height: 1.5;
}

.audiobook__summary--title-skeleton-loading {
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 28px;
  padding-bottom: 14px;
  background-color: lightgray;
  width: 200px;
  height: 36px;
  border-radius: 4px;
}

.audiobook__summary--text-skeleton-loading {
  width: 100%;
  max-width: 760px;
  height: 120px;
  background-color: lightgray;
  border-radius: 4px;
  margin-bottom: 36px;
}

.audiobook__summary--text-skeleton-loading2 {
  width: 100%;
  max-width: 250px;
  height: 20px;
  background-color: lightgray;
  border-radius: 4px;
  margin-bottom: 36px;
}

.audiobook__summary--text {
  line-height: 1.4;
  color: #032b41;
  padding-bottom: 80px;
} 

/*-------------Plan----------------*/

#plan {
  /* position: relative; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
}

.plan__header--wrapper {
  width: 100%;
  background-color: #032b41;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  margin-bottom: 24px;
  border-bottom-right-radius: 16rem;
  border-bottom-left-radius: 16rem;
}

.plan__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  padding: 0 24px;
}

.plan__title {
  max-width: 800px;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.15;
  color: white;
  margin-bottom: 40px;
}

.plan__sub--title {
  font-size: 20px;
  color: white;
  margin-bottom: 32px;
}

.plan__img--mask {
  display: flex;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
  border-radius: 180px 180px 0 0;
  overflow: hidden;
}

.plan__img--mask img {
  width: 100%;
  display: block;
}

.plan__row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.plan__container {
  padding: 40px 0;
  width: 100%;
}

.plan__features--wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  text-align: center;
  grid-gap: 24px;
  gap: 24px;
  max-width: 800px;
  margin: 0 auto 56px;
}

.plan__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__features--icon {
  justify-content: center;
  color: #032b41;
  margin-bottom: 12px;
  display: flex;
  font-size: 60px;
}

.plan__features--text {
  color: #394547;
  line-height: 1.5;
}

.plan__card {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f1f6f4;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  cursor: pointer;
  max-width: 680px;
  margin: 0 auto;
}

.plan__card--active {
  border-color: #2bd97c;
  background-color: #f1f6f4;
}

.plan__card--circle {
  width: 22px;
  height: 22px;
  min-width: 22px;
  border-radius: 50%;
  border: 2px solid #bac8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.plan__card--active .plan__card--circle {
  border-color: #2bd97c;
}

.plan__card--dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2bd97c;
}

.plan__card--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.plan__card--title {
  color: #032b41;
  font-size: 18px;
  font-weight: 700;
}

.plan__card--price {
  color: #032b41;
  font-size: 24px;
  font-weight: 700;
}

.plan__card--text {
  color: #6b757b;
  font-size: 14px;
}

.plan__card--separator:after, .plan__card--separator:before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #dbdfe1;
}

.plan__card--separator {
    /* font-size: 14px; */
    color: #6b757b;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 240px;
    margin: 24px auto;
}

.plan__card--cta {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.plan__btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

.payment__submit--btn:active {
  transform: translateY(2px);
}

.plan__disclaimer {
  margin-top: 12px;
  text-align: center;
  color: #6b757b;
  font-size: 12px;
  line-height: 1.4;
}

.accordion__card {
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 8px;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 0;
    gap: 8px;
}

.accordion__title {
  color: #032b41;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.accordion__icon {
  color: #032b41;
  transition: transform .5s ease;
}

.accordion__card--open .accordion__icon {
  transform: rotate(0deg);
}

.accordion__card:not(.accordion__card--open) .accordion__icon {
  transform: rotate(180deg);
}

.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s ease;
}

.accordion__card--open .collapse {
  transition: all 1s ease;
  max-height: 400px;
}

.accordion__body {
  padding: 12px 0;
  color: #394547;
  line-height: 1.6;
  font-size: 14px;
}

.footer__container {
    padding: 40px 0;
    width: 100%;
}

.footer__row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.payment__container {
  width: 100%;
  min-height: 100vh;
  padding: 24px 0 40px;
}

.payment__row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.btn__wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 42px 0;
}

/* ------SUCCESS------- */

.success__row {
  max-width: 1070px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 24px;
}

.success__container {
  padding: 40px 0;
  width: 100%;
  height: 500px;
  text-align: center;
}


/*----------------------------------*/


@media (max-width: 992px) {

  .inner__book--inner-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .inner-book__image--wrapper {
    width: 100%;
    /* max-width: 1070px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }


  /* FOR YOU */

  /* Hide sidebar completely on tablet/mobile - shown only as overlay when opened */
  

  
  .sidebar__closed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 200px;
    min-width: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.25s ease-in-out, width 0.25s ease-in-out;
    z-index: 11;
  }

  .sidebar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav__img {
    width: 200px;
    height: 46px;
  }

  .sidebar__closed.sidebar__open {
    width: 80%;
    transform: translateX(0);
  }

  .sidebar__toggle--btn {
    height: 30px;
    display: flex;
    display: block !important;
  }

  .sidebar__top,
  .sidebar__bottom {
    width: 100%;
  }

 .sidebar__link--wrapper {
  width: 100%;
 }

  .sidebar__overlay {
    display: block;
  }

  .searchbar__wrapper {
    width: 100%;
    min-width: 100%;
  }

  .search__wrapper {
    width: 100%;
  }

  .search__content {
    margin-right: 24px;
  }

  .search__input {
    width: 250px;
  }

  .for-you__row {
    width: 100%;
  }

  .for__you--container {
    width: 100%;
   margin: 0 24px;
   }

  .for-you__wrapper {
    width: 100%;
  }

  /* Remove sidebar offset */
  .for-you__content {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  .for-you__title {
    width: 100%;
    min-width: 400px;
  }

  .selected__book {
    min-height: 240px;
    flex-direction: column;
    gap: 24px;
  }

  .selected__book--sub-title {
    width: 100% !important;
  }

  .selected__book--line {
    display: none;
  }

  .selected__book--content {
    width: 100% !important;
  }

  .selected__book--text {
    width: 100%;
  }

  .inner-book__title {
    font-size: 24px;
  }

  .inner-book__author {
    font-size: 14px;
  }

  .inner-book__sub--title {
    font-size: 18px;
  }

  .audio__wrapper {
    height: 200px;
    flex-direction: column;
    margin: 0 auto;
    padding: 36px 0;
    gap: 16px;
  }

  .audio__track--wrapper {
    align-items: center;
    justify-content: center;
  }

  .audiobook__container {
    padding-bottom: 140px;
  }

  #audiobook .sidebar__closed {
  height: 100vh;
}

  .progress-container {
    justify-content: center;
  }

}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }

  .for-you__recommended-books{
    gap: 24px;
  }

  .for-you__suggested-books {
    gap: 24px;
  }
}
